/* all workouts page */
.workout-display{
    background-color: gray;
    color: darkred;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


/* workouts base style */
.navbar{
    background-color: black;
    color: rosybrown;
}
a{
    color: rosybrown;
}