.img-fluid{
    height: auto;
    width: auto;
    max-height: 170px;
    max-width: 150px;
}

.jumbotron{
    background-color: rgb(3, 3, 3);
    background-image: url(/Screen\ Shot\ 2021-02-23\ at\ 3.03.01\ PM.png);
    min-height: 500px;
}

.navbar-1{
    background-color: rgb(255, 255, 255);
}

html, body {
    height: 100%;
  }
  
  #wrap {
    min-height: 70%;
  }
  
  #main {
    overflow:auto;
    padding-bottom:150px; /* this needs to be bigger than footer height*/
  }
  
  .footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
    padding-top:20px;
  } 

body{
    background-color: rgb(255, 255, 255);
}

.about-us{
    background-color: white;
    color: black;
}

.footer{
    background-color:black;
}

.btn{
  background-color: grey;
}



 