{% extends 'workouts_base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<div class = "row align-items-center text-center abs-display">
    <h2 class="align-text-center workout-header">Abs</h2>
    <div class= 'col-6'>
        <p>Your abdominals are the core of your body, right in the middle. Having a strong abdominal well allow you to easily
            complete workouts that are for oher body parts. The reason that this is, is because when do other workouts you can sometimes use
            your abdominals to ease the lift for the other body part, which will make your core stronger.
        </p>
    </div>
    <div class="col-6">
        <img src="static/img/abs.jpg" class="img-fluid solid-image, mb-5" alt="Responsive image">
    </div>   
</div>
<main>
    <div class='row mt-5 all-abs'>
        {% for workout in workouts%}
        <div class='col-3 '>
            <p>Workout Name: {{ workout.workout_name }}</p> 
            <p>Body Part: {{  workout.body_part }}</p>
            <p>Workout Steps: {{ workout.workout_description }}</p>
            <p>Level: {{ workout.workout_difficulty}}</p>
            <!-- <a class="nav" href="/edit/{{ workout._id }}">Edit Workout</a><br><br> -->
        </div>
        
        {% endfor %}
        </div>

</main>

{% endblock content %}