{% extends 'base.html' %}
{% block content %}



<main>
        <h1>Thank you for adding your workout!</h1>

        <h3>Workout Added</h3>

        <section id="workout_name">
            
           <p>Workout Name: {{ workout.workout_name }}</p> 
           <p>Body Part: {{ workout.body_part }}</p>
           <p>Workout Steps {{ workout.workout_description }}</p>
           <p>Level: {{ workout.workout_difficulty}}</p>
           

        </section>

        <a class="nav" href="/model">Click here to workout</a><br><br>
        
        <a class="nav" href="/edit/{{ workout._id }}">Edit Workout</a><br><br>

        <form action="/delete/{{ workout._id }}" method='POST' id="delete-form" onsubmit="return confirm_delete()">
            <input type="submit" class="nav" onclick="delete_modal()" value="Delete Workout">
        </form>
</main>
{% endblock %}