@ -1,9 +1,91 @@
<!DOCTYPE html>
<html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The Highly Fit</title>
  <meta name="description" content="The Highly Fit">
  <meta name="author" content="SitePoint">

  <!-- <link rel="stylesheet" href="static/styles.css?v=1.0"> -->


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>SmartNavClean</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akronim">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="static/css/Raleway.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
    <link rel="stylesheet" href="static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/Features-Blue.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">
    <link rel="stylesheet" href="static/css/SmartNavClean.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/untitled.css">
</head>

<body>
    <nav class="navbar-1 navbar navbar-expand-md navigation-clean smart-scroll">
        <div class="container-fluid">
            <div class="col-m align-items-center"><a class="navbar-brand" href="index.html"><img class="img-fluid"
                        src="static/img/logo.png"></a></div><button data-toggle="collapse" class="navbar-toggler"
                data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="#about">About Us</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#features">Features</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron jumbotron-fluid">
      <img class="rounded mx-auto d-block" src="/static/img/Screen Shot 2021-03-01 at 10.08.07 AM.png">
        <div class="container">
          <h1 class="display-4"></h1>
          <p class="lead">
              3D Body Model
          </p>
        <form method="GET">
          <div class="text-center" width="80" height="60">
            <a href = "/model">
           <button type="button" class="btn btn-secondary btn-lg">Workout</a></button>
          </div>
        </div>
        </form>
    </div>
    <div id="wrap">
      <div class="container-fluid about-us" id="about">
        <div class="intro">
            <h2 class="text-center">About us</h2>
            <p class="text-center">We are a group of indivduals trying to make workouts a much better
              and easier experience for you and the whole world by using a 3D body model that is 
            Interactive. Please click the "Workout" button above to get started  </p>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div id="wrap">
        <div class="container-fluid footer-1">
          <div class="intro" id="features">
              <h2 class="text-center">Features</h2>
              <p class="text-center">- 3D Interactive Body Model </p>
              <p class="text-center">- Able to instert your own workouts</p>
          </div>
        </div>
      </div>
    </footer>  

    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/SmartNavClean.js"></script>
</body>
</html>