<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% for workout in workouts%}
    <p>Workout Name: {{ workout.workout_name }}</p> 
    <p>Body Part: {{ workout.body_part }}</p>
    <p>Workout Steps: {{ workout.workout_description }}</p>
    <p>Level: {{ workout.workout_difficulty}}</p>
    <a class="nav" href="/edit/{{ workout._id }}">Edit Workout</a><br><br>
    {% endfor %}
</body>
</html>